<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Çiftlik Yönetimi</title>
    <!-- Favicon-->
    <link rel="icon" href="~/Content/images/cow4.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core Css -->
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap Select Css -->
    <link href="~/Content/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />

    <!-- Bootstrap Switch  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap2/bootstrap-switch.min.css" />

    <!-- JQuery DataTable Css -->
    <link href="~/Content/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.min.css" rel="stylesheet">

    <!--Bootstrap Datepicker-->
    <link href="~/Content/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <!-- Waves Effect Css -->
    <link href="~/Content/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Content/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="~/Content/morrisjs/morris.css" rel="stylesheet" />

    <!-- Summernote -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">

    <!-- Custom Css -->
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Content/all-themes.css" rel="stylesheet" />

    <!-- Jquery Core Js -->
    <script src="~/Content/jquery/jquery.min.js"></script>
</head>

<body class="theme-deep-orange">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="~/Content/images/cow2.png" alt="Alternate Text" style="float:left;margin-top:5px;margin-right:5px" />
                <a href="/Home/" class="navbar-brand">Çiftlik Yönetimi</a>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">FİNANSAL İŞLEMLER</li>
                    <li class="active">
                        <a href="@Url.Action("Index","Home")">
                            <i class="material-icons" style="color:#FF6347">home</i>
                            <span style="color:#FF6347">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle" style="color:#1E90FF">
                            <i class="material-icons">trending_up</i>
                            <span style="color:#1E90FF">Gelir</span>
                        </a>

                        <ul class="ml-menu">
                            <li>
                                <a href="@Url.Action("Table","Income")" style="color:#1E90FF">Tablo</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Statistic","Income")" style="color:#1E90FF">İstatistik</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle" style="color:#DC143C">
                            <i class="material-icons">trending_down</i>
                            <span style="color:#DC143C">Gider</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="@Url.Action("Table","Expense")" style="color:#DC143C">Tablo</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Statistic","Expense")" style="color:#DC143C">İstatistik</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header">YÖNETİMSEL İŞLEMLER</li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">settings</i>
                            <span>Hayvan Yönetimi</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle">
                                    <span>İnekler</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="@Url.Action("Index","Cows")">Çifliktekiler</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Cows",new {state=2 })">Satılanlar</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Cows",new {state=3 })">Ölenler</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle">
                                    <span>Düveler</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="@Url.Action("Index","Heifers")">Çifliktekiler</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Heifers",new {state=2 })">Satılanlar</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Heifers",new {state=3 })">Ölenler</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle">
                                    <span>Buzağılar</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="@Url.Action("Index","Calves")">Çifliktekiler</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Calves",new {state=2 })">Satılanlar</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Calves",new {state=3 })">Ölenler</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle">
                                    <span>Danalar</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="@Url.Action("Index","Steers")">Çifliktekiler</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Steers",new {state=2 })">Satılanlar</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Steers",new {state=3 })">Ölenler</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div>
                    <p>Github: <strong><a href="https://github.com/Huseyin6" target="_blank">@@Huseyin6</a></strong> </p>
                </div>
                <div class="copyright">
                    <p>Template: <strong>AdminBsb &copy; @DateTime.Now.Year</strong> </p>
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>

    <section class="content" style="margin-top:25px">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>

    <!-- Bootstrap Core Js -->
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/bootstrap-select/js/bootstrap-select.min.js"></script>


    <!-- Slimscroll Plugin Js -->
    <script src="~/Content/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/Content/node-waves/waves.js"></script>

    <!-- Jquery DataTable Plugin Js -->
    <script src="~/Content/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/Content/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>

    <!-- ChartJs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

    <!-- Bootstrap Datepicker-->
    <script src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

    <script src="~/Content/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js"></script>

    <script src="~/Content/bootstrap-confirmation.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <!-- Custom Js -->
    <script src="~/Content/js/admin.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>

    <script src="~/Content/jquery-datatable/table/jquery-datatable.js"></script>
    <script src="~/Content/js/pages/ui/modals.js"></script>
    <script src="~/Content/js/pages/forms/basic-form-elements.js"></script>
    <script src="~/Content/js/pages/index.js"></script>

</body>
</html>