@model List<Farm.Data.Entities.Cattle>
@{
    ViewBag.Title = "Heifers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <h3>Düveler</h3>

    <section class="panel panel-featured panel-featured-info panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("Index", "Heifers", FormMethod.Get, new { @class = "form-horizantal", style = "margin:5px 0px" }))
            {       
                <div class="form-group">
                    <label class="control-label" for="IsPregnant" style="display:inline-block;float:left;padding:5px">Hamilelik Durumu</label>
                    <div class="col-md-2 form-inline">
                        <input type="checkbox" name="IsPregnant" value="true" class="switch" />
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-filter pull-right" data-loading-text="Aranıyor">Filtrele</button>
                </div>
            }
        </div>
    </section>
    <section class="panel panel-featured panel-default">
        <div class="panel-heading">
            <div class="text-right">
                <a href="@Url.Action("Create","Heifers")" class="btn btn-primary waves-effect m-r-20">Yeni Kayıt</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered cow-list-table">
                    <thead>
                        <tr role="row" class="info">
                            <th class="sorting_disabled" rowspan="1" colspan="1">Küpe No</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1">Adı</th>
                            <th class="hidden-xs hidden-sm sorting_disabled" rowspan="1" colspan="1">Doğum Tarihi</th>
                            <th class="hidden-xs hidden-sm sorting_disabled" rowspan="1" colspan="1">Durumu</th>
                            <th class="hidden-xs sorting_disabled" rowspan="1" colspan="1">Aşı Tarihi</th>
                            <th class="hidden-xs sorting_disabled" rowspan="1" colspan="1">Hamile</th>
                            <th class="hidden-xs sorting_disabled" rowspan="1" colspan="1">Hamilelik İlerleme Durumu</th>
                            <th class="operationTableWideColumn">
                                <span class="visible-xs text-center">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model.OrderBy(m => m.StateId))
                            {
                        <tr class="@(item.PregnantDate.HasValue ? "" : "bg-amber" )">
                            <td>@item.EaringNo</td>
                            <td>@item.Name</td>
                            <td class="hidden-xs hidden-sm">@Html.DisplayFor(m => item.BirthDate)</td>
                            <td class="hidden-xs hidden-sm">@Html.DisplayFor(m => item.State.Name)</td>
                            <td class="hidden-xs hidden-sm">@Html.DisplayFor(m => item.PregnantDate)</td>
                            <td class="hidden-xs">
                                @Html.CheckBoxFor(m => item.IsPregnant, new { @class = "custom-control-input",data_toggle = "asyncswitch", data_on_text = "Evet", data_off_text = "Hayır", data_url = Url.Action("ChangeState", "Cows", new { id = item.Id }) })
                            </td>
                            @if (item.IsPregnant && item.PregnantDate.HasValue)
                            {
                                <td class="hidden-xs hidden-sm">@(DateTime.Today.Month - item.PregnantDate.Value.Month > 0 ? (DateTime.Today.Month - item.PregnantDate.Value.Month) : 1) Aylık Hamile</td>
                            }
                            else
                            {
                                <td>Hamile Değil</td>
                            }
                                <td class="text-center">
                                    @if (item.StateId == 1)
                                    {

                                        @Html.EditButton(Url.Action("Edit", new { id = item.Id }), "sm")
                                    }
                                    else
                                    {
                                        @Html.EditButton(Url.Action("Edit", new { id = item.Id }), "sm", true)

                                    }
                                    @Html.DeleteButton(Url.Action("Delete", new { id = item.Id }))

                                </td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>