@model IEnumerable<Farm.Data.Entities.Cattle>
@{
    ViewBag.Title = "Calves";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList selectList = new SelectList(new List<SelectListItem>
    {
    new SelectListItem
    {
    Text = "Tümü",
    Value = null,
    Selected = true
    },
    new SelectListItem
    {
    Text = "Çiftlikte",
    Value = "1"
    },
    new SelectListItem
    {
    Text = "Satıldı",
    Value = "2"
    },
    new SelectListItem
    {
    Text = "Ölü",
    Value = "3",
    }
    }
       , "Value", "Text");

    SelectList sexselectList = new SelectList(new List<SelectListItem>
    {
    new SelectListItem
    {
    Text = "Tümü",
    Value = null,
    Selected = true
    },
    new SelectListItem
    {
    Text = "Dişi",
    Value = "0",
    Selected=true
    },
    new SelectListItem
    {
    Text = "Erkek",
    Value = "1"
    }
    }
    , "Value", "Text");
}
<div class="row">
    <h3>Buzağılar</h3>

    <section class="panel panel-featured panel-featured-info panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("Index", "Calves", FormMethod.Get, new { @class = "form-horizantal", style = "margin:5px 0px" }))
            {
                <div class="form-group">
                    <label class="control-label" for="State" style="display:inline-block;float:left;padding:5px">Durum</label>
                    <div class="col-md-1 form-inline">
                        @Html.DropDownList("state", selectList, new { @class = "form-control autoWidth", style = "display:inline-block;float:left" })
                    </div>
                    <div class="col-md-1 form-inline">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="State" style="display:inline-block;float:left;padding:5px">Cinsiyet</label>
                    <div class="col-md-1 form-inline">
                        @Html.DropDownList("sex", sexselectList, new { @class = "form-control autoWidth", style = "display:inline-block;float:left" })
                    </div>
                    <div class="col-md-1 form-inline">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="drinkmilk" style="display:inline-block;float:left;padding:5px">Süt İçme Durumu</label>
                    <div class="col-md-2 form-inline">
                        <input type="checkbox" name="drinkmilk" value="true" class="switch" />
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-filter pull-right" data-loading-text="Aranıyor">Filtrele</button>
                </div>
            }
        </div>
    </section>
    <section class="panel panel-featured panel-default">
        <div class="panel-heading">
            <div class="text-right">
                <a href="@Url.Action("Create","Calves")" class="btn btn-primary waves-effect m-r-20">Yeni Kayıt</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered cow-list-table">
                    <thead>
                        <tr role="row"  class="info">
                            <th class="sorting_disabled" rowspan="1" colspan="1">Küpe No</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1">Adı</th>
                            <th class="hidden-xs hidden-sm sorting_disabled" rowspan="1" colspan="1">Doğum Tarihi</th>
                            <th class="hidden-xs hidden-sm sorting_disabled" rowspan="1" colspan="1">Durumu</th>
                            <th class="hidden-xs hidden-sm sorting_disabled" rowspan="1" colspan="1">Cinsiyet</th>
                            <th class="hidden-xs sorting_disabled" rowspan="1" colspan="1">Süt İçme Durumu</th>

                            <th class="operationTableWideColumn">
                                <span class="visible-xs text-center">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.EaringNo</td>
                                    <td>@item.Name</td>
                                    <td class="hidden-xs hidden-sm">@Html.DisplayFor(m => item.BirthDate)</td>
                                    <td class="hidden-xs hidden-sm">@Html.DisplayFor(m => item.State.Name)</td>
                                    <td class="hidden-xs hidden-sm">@Html.DisplayFor(m => item.Sex)</td>
                                    <td class="hidden-xs">
                                        @Html.CheckBoxFor(m => item.DrinkMilk, new { @class = "custom-control-input", data_toggle = "asyncswitch", data_on_text = "Evet", data_off_text = "Hayır", data_url = Url.Action("ChangeState", "AnnouncementManagement", new { id = item.Id }) })
                                    </td>
                                    <td class="text-center">
                                        @Html.EditButton(Url.Action("Edit", new { id = item.Id }), "sm")
                                        @Html.DeleteButton(Url.Action("Delete", new { id = item.Id }))

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>